html, body, .page {
    width: 100vw;
    margin: 0;
    background-color: #efefef
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    margin: 0;
  }